// Text
@mixin text($size, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
	
}

// Buttons 

@mixin button-bg {
  background: #40aed1;
  background: -moz-linear-gradient(top,  #40aed1 0%, #2790b0 99%); 
  background: -webkit-linear-gradient(top,  #40aed1 0%,#2790b0 99%); 
  background: linear-gradient(to bottom,  #40aed1 0%,#2790b0 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40aed1', endColorstr='#2790b0',GradientType=0 );
}

// Shadows 

@mixin callout-shadow {
  -webkit-box-shadow: 0px 10px 32px -8px rgba($black,0.8);
  -moz-box-shadow: 0px 10px 32px -8px rgba($black,0.8);
  box-shadow: 0px 10px 32px -8px rgba($black,0.8);
}

@mixin callout-shadow-light {
  -webkit-box-shadow: 0px 10px 32px -8px rgba($black,0.3);
  -moz-box-shadow: 0px 10px 32px -8px rgba($black,0.3);
  box-shadow: 0px 10px 32px -8px rgba($black,0.3);
}

// Trandistions 

@mixin ease-oneSecond-transition {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}


// Borders

@mixin border-top($color) {
  border-top: 4px solid $color;	
}

