/* Homepage Callout ----------- */
.twoColumn, .thirdColumn {
  @extend %centered;
  max-width: $column-width;
  margin: 2rem auto;
}

.halfColumn {
  @include callout-shadow;
  max-width: 48%; 
  float: left;
  margin: 0 1%;
  
  p {
    @include ease-oneSecond-transition;
    background-color: rgba($black,0.5);
    padding: 0.625rem;
    max-width: 20%;
    margin: -4rem auto;
    border: 0.125rem solid #43b3d8;
    border-radius: $br / 2;
  }  

  p:hover {
    @include ease-oneSecond-transition;
    @extend %scale;
    background-color: rgba($aa-blue, 0.8); 
  } 

  @media #{$brk-770} {
    max-width: 90%;
    width: 90% !important;
    float: none;
    margin: 0 auto 2rem;
  }  
}

.smallScreenFloat {

  @media #{$brk-770} {
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    right: 0%;
  }
}

.callout h2 {
  margin: 17% 25%;
  background-color: $white;
  padding: 4%;
  font-size: 1.2rem;
  border-radius: 0 0 $br * 0.833333333 $br * 0.833333333;

  @media #{$brk-770} {
    margin-bottom: 10%;
  }

  @media #{$brk-615} {
    margin-bottom: 19%;
  }
}

.halfColumn::last-of-type {
  margin-right: 0;
}

.calloutOne, .calloutTwo {
  @extend %centered-bg;
  background-image: url('#{$path-img}/image-1.jpg');
  width: 50%;
  height: 16.875rem;
  border-radius: $br;
  background-size: cover;

  p a {
    color: $white;
  }

  h2 {
    @include border-top($orange);

    @media #{$brk-770} {
      margin-bottom: 4rem;
    }
  }
}

.calloutTwo {
  background-image: url('#{$path-img}/image-2.jpg');

  h2 {
    @include border-top($red-orange)
  }
}


.calloutThree, .calloutFour, .calloutFive {
  background-image: url('#{$path-img}/image-3.jpg');
  @extend %centered-bg;
  width: 50%;
  height: 19.375rem;
  border-radius: $br;
  background-size: cover;
  outline: 0.125rem solid $white;
  outline-offset: -1.5rem;

  h2 {
    margin: 40% 25%;
    @include border-top($bright-green); 

    @media #{$brk-770} {
      margin: 17% 25%;
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 1.5rem rgba($black,0.6);
  }
}

.calloutFour {
  background-image: url('#{$path-img}/image-4.jpg');
}

.calloutFive {
  background-image: url('#{$path-img}/image-5.jpg');
  @extend %centered-bg;
}

.thirdColumn {

  img {
    max-width: 100%;
    border-radius: $br * 1.666666666;
  }
  
  div {
  max-width: 30.6666%;
  margin: 0 1.3%; 
  float: left;
  @include callout-shadow;

    @media #{$brk-770} {
      width: 90%;
      max-width: 90%;
      margin-bottom: 3.125rem;
      margin-left: 5%;  
    }
  }

  div:last-child {
    margin-right: 0;
  }
}